.homePage{
  background-image: url(marketplace01.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-bottom: 10vh;
}

.homePageLink{
  margin-top: 5vh;
  font-size: 20px;
}


.myLinks{
  margin-right: 5px;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.post-card {
  width: calc(30% - 20px);
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.post-card:hover {
  transform: scale(1.02);
}

.user-post-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-post-form label {
  display: block;
  margin-bottom: 8px;
}

.user-post-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.user-post-form input[type="text"],
.user-post-form input[type="number"],
.user-post-form input[type="text"] {
  width: 100%; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-post-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-post-form button:hover {
  background-color: #0056b3;
}

.user-post-form a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

h1{
  text-align: center;
}